div.modal
  input#edithelp(type="checkbox")
  label.overlay(for="edithelp")
  article
    header
      h3 Editing an article
      label.close(for="edithelp") &times;
    section.content We have a special offer for you. I am sure you will love it! However this does look spammy...
    footer
      label.button(for="edithelp") Sweet