nav
  a.brand(href="/") Libre University

  // responsive
  input#bmenu.show(type="checkbox")
  label.burger.pseudo.button(for="bmenu")
    i.icon-menu

  div.menu
    a.pseudo.button.icon-info(href="http://www.libre.university/")= text.about
    a.pseudo.button.icon-gh(href="http://github.com/libre/university") Github
    if user
      a.button.icon-user(href="/user/" + user._id)= user.email.split('@').shift()
    else
      label.button.icon-users(for="login")= text.enter
