nav
  a.brand(href="/") Libre University

  // responsive
  input#bmenu.show(type="checkbox")
  label.burger.pseudo.button(for="bmenu")
    i.icon-menu

  div.menu
    a.pseudo.button.icon-info(href="https://www.libre.university/")= text.about
    a.pseudo.button.icon-gh(href="http://github.com/libreuniversity/university") Github
    if user
      a.button.icon-user(href="/user/" + user.username)= user.username ? user.username : 'Anonymous'
    else
      label.button.icon-users.login= text.enter
