extends ../../views/layout

// Give it the right title of this article
block title
  title Error 404

// Set the
block content
  main.article
    h1 404 Article not found
    p Couldn't find the requested article. Please go back 
      a(href="/") home