extends ../../app/views/layout

block content
  +header(text.subjects)
      
  section.subjects
    each article in subject
      +preview('subject', article, { subject: text.enter })
  
  section.add
    button.add.icon-plus(data-click='add')= text.add
  
  template.add
    +preview('subject')
