extends ../../app/views/layout

block title
  title= title

block content
  +header(title)

  // Variables for the view
  - var actions = {'lesson': text.lessons/*, 'test': text.tests*/};
  - var other = {'subject': _id};

  section
    p= summary

  section.lessons
    each article in lessons
      +preview('lesson', article, actions, other)

  if user
    section.add
      button.add.lesson.icon-plus= text.add

    template.add
      +preview('lesson', false, false, other)
