// This file is for specific styles that match those of /lesson/...
.lesson {
  overflow-x: hidden;

  .edit {
    display: block;
  }

  .save {
    display: none;
  }

  .content {
    min-height: 400px;
    outline: 0 solid transparent;
    transition: all .3s ease;

    > :first-child {
      margin-top: 0;
    }
  }

  img {
    max-width: 100%;
  }

  &.edit {
    .content {
      border: 1px solid #eee;
      padding: 20px;

    }

    .content:hover,
    .content:focus {
      border: 1px solid #ccc;
      outline: 0 solid transparent;
      transition: all .3s ease;
    }


    .edit {
      display: none;
    }

    .save {
      display: block;
    }
  }

  .equation {
    margin: 0;
    width: 100%;

    & > * {
      padding-bottom: 0;
    }

    pre {
      margin: 0;
    }

    .live {
      border: 1px solid #eee;
      text-align: center;
      padding: 10px;
      pointer-events: none;
    }
  }

  .katex-display {
    margin: .5em 0;
  }
}

.change.positive {
  color: #0c5;
}

.change.negative {
  color: #f55;
}

.history .card section {
  padding: .6em;
}

.history .stack {
  border-bottom: none;
}

.history .stack .flex > * {
  padding-bottom: 0;
}

.history .stack:last-child {
  border-bottom: $picnic-border;
}

.history .stack .pseudo {
  margin: 0;
}


@media (max-width: $picnic-breakpoint) {
  .lesson.edit .content {
    padding: 0 10px;

    > *:first-child {
      margin-top: 0;
      padding-top: 10px;
    }
  }
}


@import 'editor';
