// Imported styles
body {
  display: block;
  font-size: 16px;
  width: 100%;
}

main {
  font-family: 'Lora', $picnic-font;

  // This font needs to be extra-big to display properly
  font-size: 20px;
  line-height: 1.5;
  margin: 120px auto 200px;
  max-width: 800px;

  overflow: auto;

  // For responsive case
  width: calc(100% - 1.2em);
  transition: all 0s;
}

header {
  margin-bottom: 1em;

  .context {
    font-weight: bold;
    font-family: sans-serif;
    overflow: auto;
    padding-top: .3em;
  }

  .actions {
    float: right;
    margin-top: -.3em;
  }

  .sub {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
  }

  button, .button {
    @extend .pseudo;
    margin: 0 0 0 .3em;
  }

  .edit i {
    @extend .icon-pencil;
  }

  .add i {
    @extend .icon-plus;
  }

  .save i {
    @extend .icon-floppy;
  }

  .analytics i {
    @extend .icon-chart-area;
  }
}

section.add {
  @extend .card;
  padding: .8em;

  button {
    width: auto;
    margin: 0;
  }
}

article {
  width: 100%;
}

nav .brand {
  font-family: 'Lora', serif;
  font-size: 1.6em;
  transition: all 0s;

  &:hover,
  &:active {
    color: $picnic-primary;
  }
}

@media all and (max-width: $picnic-breakpoint) {
  main {
    margin: 70px auto 200px;
    font-size: 18px;
    transition: all 0;
  }
  nav .brand {
    padding-left: $picnic-separation / 2;
  }
}
