extends ../../views/layout

// Give it the right title of this article
block title
  title= title

// Set the
block content
  form.lesson(method="POST" action="/lesson/" + id)
    +header(title, { edit: null, save: null }, subject)
    
    article.content.sweet-justice
      if html
        != html
      else
        p Empieza a escribir la lección...
    
    input.content(type="hidden" name="content")
          
  ul.editormenu
