extends ../../app/views/layout

//- Give it the right title of this article
block title
  title= lesson.title

block nav
  +supermenu

//- Set the
block content
  - let back = { link: '/subject/' + lesson.subject._id, title: lesson.subject.title }
  form.lesson(method="POST" action="/lesson/save/" + lesson.id)
    +header(lesson.title, { edit: null, save: null }, back)

    article.content.sweet-justice
      if lesson.html
        != lesson.html
      else
        p Empieza a escribir la lección...

    input.content(type="hidden" name="content")

  ul.editormenu
