extends ../../app/views/layout

//- Give it the right title of this article
block title
  title= records[0].title

//- Set the
block content
  - var lesson = records[0]
  - let back = { link: '/lesson/' + lesson.lesson, title: lesson.title }
  div.history
    +header('History: ' + lesson.title, {}, back)
    div
      each record in records
        div.card.stack
          section
            a.pseudo.button.icon-docs(href="/lesson/history/" + record.id)
              != record.change + ' (' + record.timestamp + ')'
            a.pseudo.button.icon-user-o(href="/user/" + record.user.id)= record.user.name
