doctype html
html
  head
    block head
      block title
        title Libre University
      meta(charset='utf-8')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      meta(name="keywords" content="Libre University, Free, University, Open, Source")
      meta(name="description" content="Open source knowledge for everyone")
      link(rel='stylesheet', href='/style.min.css')
      link(rel="icon", href="/images/logo.png", type="image/png")
      block style
  body
    block body