doctype html
html
  // 5e56973bb023163719152dd525260a9470d4ed3ad711411203d2bb4a8d4b8ded
  //- There won't be included unless they are called
  include mixins/actions
  include mixins/header
  include mixins/preview
  include mixins/supermenu

  head
    block title
      title Libre University
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name="keywords" content="Libre University, Free, University, Open, Source")
    meta(name="description" content="Open source knowledge for everyone")
    link(rel='stylesheet', href='/style.min.css')
    link(rel="icon", href="/images/logo.png", type="image/png")
  body
    block nav
      include templates/nav

    if !user
      include templates/modal

    include templates/permission

    main
      block content

    script(src="https://cdn.auth0.com/js/lock/10.3/lock.min.js")
    script.
      var l = window.location;
      var url = l.protocol + '//' + l.hostname + (l.port ? ':' + l.port : '') + '/user/login';
      console.log(url);
      // Construct an instance of Auth0Lock with your clientId and aut0 domain name
      var lock = new Auth0Lock('#{env.AUTH0_CLIENT_ID}', '#{env.AUTH0_DOMAIN}',{ auth: {
        redirectUrl: url
      , responseType: 'code'
      , params: {
        scope: 'openid name email picture'
      }
      }});
      // Show lock's login widget
      function login () {
        lock.show();
      }
      // http://stackoverflow.com/a/18305085/938236
      if (window.location.hash == '#_=_'){
      history.replaceState
        ? history.replaceState(null, null, window.location.href.split('#')[0])
        : window.location.hash = '';
      }

      var user = JSON.parse('!{JSON.stringify(user || false)}');
    script(type="text/javascript" src="/javascript.js")
